@media(-moz-proton) {
	:root {
		--tab-block-margin: 0px !important;
		--tab-border-radius: 0px !important;
		--arrowpanel-menuitem-padding-block: 4px !important;
	}

	.tabbrowser-tab {
		padding-inline: 0px !important;
	}

	.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
		margin: 0 !important;
	}

	toolbarbutton:not(* > *) {
		border-top: none !important;
		border-bottom: none !important;
	}
}
